footer {
    margin: 67px;
    display: flex;
    gap: 10px;
}

footer a {
    text-decoration: none;
    color: #848D97;
    font-size: 12px;
    line-height: 1;
}

footer a:hover {
    text-decoration: underline;
}
