/* LoginForm.css */

.wrapper {
    width: 300px;
    background: #161B22;
    color: #E6EDF3;
    font-size: 14px;
    border-radius: 5px;
    padding: 20px; 
  }
  
  .input-box {
    margin-bottom: 5px; /* Add margin between input boxes for better separation */
  }
  
  .input-box label {
    display: flow-root;
  }
  
  .input-box input {
    color: white;
    width: 100%; /* Take up the full width of the parent container */
    height: 30px;
    background-color: #0d1117;
    border-radius: 5px;
    border: 1px solid #484f58;
    padding: 5px; /* Add padding for better input appearance */
  }
  
  button {
    width: 100%; /* Make the button full-width */
    margin-top: 10px;
    padding: 10px; /* Add padding for better button appearance */
    background-color: #238636; /* Change the button color to a contrasting color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  button:hover {
    background-color: rgba(35, 135, 70, 5); /* Original color with 70% opacity */
  }
  
  .forgot-password{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }

  .forgot-password a{
    font-size: 12px;
    text-decoration: none;
    color: #2F81F7;
  }