.subform-wrapper{
    width: 300px;
    background: #161B22;
    color: #E6EDF3;
    font-size: 14px;
    border-radius: 5px;
    padding: 20px; /* Add padding for better spacing */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow for depth */
}