.subform-wrapper {
    margin-top: 10px;
    width: 300px;
    background: #0d1117;
    color: #E6EDF3;
    font-size: 14px;
    border: 0.1px solid #484f58;
    border-radius: 5px;
    padding: 20px; 
}

.sign-in-with-a-passkey{
    text-align: center;
    font-weight: 500;
}

.sign-in-with-a-passkey a{
    text-decoration: none;
    color: #2F81F7;
}

.sign-in-with-a-passkey :hover{
    text-decoration: underline;
}

.sign-in-new-to {
    margin-top: 5px !important;
    display: flex;
    justify-content: space-evenly;
}

.create-an-account a{
    color: #2F81F7;
    text-decoration: none;
}

.create-an-account :hover{
    text-decoration: underline;
}